html
  head
    title= 'My Blog'
  
  block style
  style
    include base.css
  body
    nav
      a(class="icon" href="/") myBlogger
      a(id="btn" href="blogs/logout") Logout
    //- footer#footer 
    //-     p &copy; 2020 All Copyrights Reserved by @DanialArshad92