.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 144px;
    height: 100vh;
}

.write-blog {
    padding: 5px;
}

.myBlog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 346px;
}

.title, .description {
    padding: 3px 5px;
    margin: 5px 0px;
    width: 100%;
}

#submit {
    margin-top: 5px;
}